.nav{
    display: flex;
    justify-content: space-around;
    margin-left: 8.5rem;
    align-items: center; 
    padding: 10px;
    border-bottom:  1px solid black;
    z-index: 999;
    background-color: #BA91F2;
}

@media screen and (max-width:650px){
    .nav{
      margin-left: 80px;

    }
}


.nav input{
    padding: 12px 20px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.first{
    margin-left: 10px;
    height: 30px;
    width: 40px;
}


